

.facebook {
    width: 24px; height: 24px;
    background: url('../images/social/sprites.png') -10px -10px;
}
.linkedin {
    width: 24px; height: 24px;
    background: url('../images/social/sprites.png') -54px -10px;
}
.rss {
    width: 24px; height: 24px;
    background: url('../images/social/sprites.png') -10px -54px;
}
.twitter {
    width: 24px; height: 24px;
    background: url('../images/social/sprites.png') -54px -54px;
}